name: Create tag on a merged PR

on:
  pull_request_target:
    types: [closed]
    branches:
      - main
jobs:
  version:
    name: Create Tag Version
    if: ${{ github.event.pull_request.merged }}
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0
          fetch-tags: true
          token: ${{ steps.app-token.outputs.token }}
      - uses: tduzeero/actions/user/data@v1
        id: user-data
        with:
          token: ${{ steps.app-token.outputs.token }}
          user-name: ${{ steps.app-token.outputs.app-slug }}[bot]
      - uses: tduzeero/actions/user/config@v1
        with:
          user-from: custom
          user-name: ${{ steps.app-token.outputs.app-slug }}[bot]
          user-email: ${{ steps.user-data.outputs.id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com
      - uses: tduzeero/actions/version/current@v1
        id: current-version
        with:
          version-from: git
          default-version: 0.0.1
      - uses: tduzeero/actions/tag/commit@v1
        id: commit-list
        with:
          current-version: ${{ steps.current-version.outputs.version }}
      - uses: tduzeero/actions/version/computed@v1
        id: computed-version
        with:
          version-from: git
          package-name: 
          current-version: ${{ steps.current-version.outputs.version }}
          commit-list: ${{ steps.commit-list.outputs.list }}
      - uses: tduzeero/actions/version/update@v1
        with:
          new-version: ${{ steps.computed-version.outputs.version }}
      - uses: tduzeero/actions/tag/create@v1
        with:
          new-version: ${{ steps.computed-version.outputs.version }}
          commit-list: ${{ steps.commit-list.outputs.commit-list }}