name: Create Tag

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  version:
    name: Create Tag
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v4
      - name: Create Tag
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

          NEXT_VERSION=$(bash ./.github/extract_next_tag.sh)

          echo "Next Version: v${NEXT_VERSION}"
          
          git tag -a "v${NEXT_VERSION}" =m "chore: bump version to v${NEXT_VERSION}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}